.color_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  flex-flow: row;
}

.color_ball {
  width: min(30px, 2.2vw);
  height: min(30px, 2.2vw);
  border-radius: 2rem;
  border: solid black 1px;
}
.color_ball_outer_ring {
  width: min(36px, 2.6vw);
  height: min(36px, 2.6vw);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color_ball_outer_ring:hover {
  border: #31ccfc solid 2px;
}
.color_ball_outer_ring_active {
  border: #00789e solid 2px;
  width: min(36px, 2.8vw);
  height: min(36px, 2.8vw);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color_ball_container {
  margin: 0 5px 0 5px;
  height: min(40px, 3.2vw);
  width: min(40px, 3.2vw);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.color_ball_container:hover {
  cursor: pointer;
}

.item_card_box {
  margin-top: 30px;
  margin-bottom: 30px;
}

.image_box {
  width: min(290px, 20vw);
  height: min(345px, 24vw);
  margin-bottom: 10px;
  position: relative;
  object-fit: cover;
  box-shadow: 2px 4px 6px;
}

@media screen and (min-width: 765px) and (max-width: 1250px) {
}

@media screen and (max-width: 765px) {
  .image_box {
    width: min(320px, 46vw);
    height: min(365px, 52vw);
  }

  .color_container {
    height: min(40px, 5.2vw);
  }

  .color_ball {
    width: min(30px, 3.8vw);
    height: min(30px, 3.6vw);
  }
  .color_ball_outer_ring {
    width: min(36px, 5vw);
    height: min(36px, 5vw);
  }

  .color_ball_outer_ring_active {
    /* border: #00789e solid 2px; */
    width: min(36px, 5vw);
    height: min(36px, 5vw);
  }
  .color_ball_container {
    margin: 0 5px 0 5px;
    height: min(40px, 5.4vw);
    width: min(40px, 5.4vw);
  }
}
