.color_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 44px;
  flex-flow: row wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

.color_ball {
  width: min(31px, 2.2vw);
  height: min(31px, 2.2vw);
  border-radius: 2rem;
  border: solid black 1px;
}
.color_ball_outer_ring {
  width: min(36px, 2.8vw);
  height: min(36px, 2.8vw);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color_ball_outer_ring:hover {
  border: #31ccfc solid 2px;
}
.color_ball_outer_ring_active {
  border: #00789e solid 2px;
  width: min(36px, 2.8vw);
  height: min(36px, 2.8vw);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color_ball_container {
  margin: 0 5px 0 5px;
  height: min(42px, 3.2vw);
  width: min(42px, 3.2vw);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.color_ball_container:hover {
  cursor: pointer;
}

.item_card_box {
  margin-bottom: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.image_box {
  width: min(320px, 20vw);
  height: min(380px, 24vw);
  margin-bottom: 10px;
  position: relative;
  object-fit: cover;
  box-shadow: 2px 4px 6px;
  cursor: pointer;
}
.image_box_2 {
  width: min(320px, 20vw);
  height: min(380px, 24vw);
  margin-bottom: 10px;
  position: relative;
  object-fit: cover;
  box-shadow: 2px 4px 6px;
  cursor: pointer;
}

.item_text {
  font-size: 20px;
}

@media screen and (min-width: 765px) and (max-width: 1250px) {
}

@media screen and (max-width: 765px) {
  .image_box {
    width: min(320px, 46vw);
    height: min(380px, 54vw);
  }
  .image_box_2 {
    width: 90vw;
    height: 105vw;
  }
  .item_card_box {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .item_text {
    font-size: min(20px, 4.4vw);
  }

  .color_container {
    min-height: auto;
    height: auto;
    /* height: min(44px, 7vw); */
  }
  .color_ball {
    width: min(31px, 4.8vw);
    height: min(31px, 4.8vw);
  }
  .color_ball_outer_ring {
    width: min(36px, 5.8vw);
    height: min(36px, 5.8vw);
  }
  .color_ball_outer_ring_active {
    /* border: #00789e solid 2px; */
    width: min(36px, 5.8vw);
    height: min(36px, 5.8vw);
  }
  .color_ball_container {
    margin: 0 2px 0 2px;
    height: min(42px, 6.8vw);
    width: min(42px, 6.8vw);
  }
}
