.main_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  overflow-x: visible;
}
.sub_title {
  margin: 20px 0 10px 0;
  font-size: 26px;
  font-weight: bold;
}

.left_grid {
  width: 50%;
  margin-right: 10px;
}
.right_grid {
  width: 50%;
  margin-left: 10px;
  min-height: 75vh;
}
.summary_grid {
  position: sticky;
  top: 200px;
  height: 70vh;
  width: 100%;
  overflow: auto;
  padding-right: 5px;
}
.summary_grid::-webkit-scrollbar {
  width: 4px !important;
}
.summary_grid::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #008ab4;
  border-radius: 10px;
}
.summary_grid::-webkit-scrollbar-thumb {
  background-color: #008ab4;
  border-radius: 10px;
}

.button_box {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.button_box_sticky {
  display: none;
}
.button {
  width: 60%;
  min-width: 280px;
  font-size: 22px;
}
.button_sticky {
  display: none;
}

/* statge 2 */
.billing_input {
  margin-top: 20px;
  font-size: 22px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.payment_method {
  width: 100%;
}
.card_elements {
  width: 100%;
}
.exp_ccv_grid {
  width: 100%;
  max-width: 41.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.hint_box {
  width: 100%;
  max-width: 41.5rem;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hint_text {
  width: 90%;
  border: 3px solid black;
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.card_icons {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
}
.card_image {
  margin-left: 10px;
  position: relative;
}

/* statge 3 */
.addresses_box {
  width: 98%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: 22px;
  margin: 30px 0;
}
.address_sub_title {
  font-weight: bold;
}
.address_inner_box {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

@media screen and (max-width: 765px) {
  .main_container {
    flex-flow: column nowrap;
    align-items: center;
  }

  .billing_input {
    font-size: 15px;
    display: flex;
    margin-top: 5px;
  }
  .sub_title {
    font-size: 20px;
  }

  .left_grid {
    width: 95%;
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .right_grid {
    width: 95%;
    margin-left: 0px;
    height: auto;
  }
  .summary_grid {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 0px;
    padding: 0;
    top: 10px;
  }

  .button_box {
    display: none;
  }
  .button_box_sticky {
    position: sticky;
    width: 100vw;
    margin: 0;
    bottom: 0;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: linear-gradient(
      to top,
      rgba(34, 185, 255, 0.5) 0%,
      rgb(255, 255, 255) 45%
    );
  }
  .button {
    height: 40px;
    width: 80%;
    font-size: 18px;
  }
  .button {
    display: none;
  }
  .button_sticky {
    display: block;
    height: 40px;
    width: 80%;
    font-size: 18px;
  }

  .hint_text {
    font-size: 16px;
  }

  .card_icons {
    font-size: 14px;
  }
  .card_image {
    width: 37.5px;
    height: 25px;
  }

  .addresses_box {
    font-size: 18px;
  }
}
