.sub_title {
  margin: 20px 0 10px 0;
  font-size: 26px;
  font-weight: bold;
}
.button_box {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.button {
  width: 50%;
  font-size: 24px;
}

.billing_input {
  margin-top: 20px;
  font-size: 22px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.payment_method {
  width: 100%;
}
.card_elements {
  width: 100%;
}

.card_input_outer_box {
  width: auto;
  height: 92px;
}
.card_input_outer_box_2 {
  width: 50%;
  min-height: 92px;
}
.card_input_box {
  width: auto;
  max-width: 40rem;
  box-shadow: 2px 2px 5px black;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
}
.card_input_box_error {
  width: auto;
  max-width: 40rem;
  box-shadow: 2px 2px 5px black;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border-left: red solid 2px;
  border-right: red solid 2px;
  border-bottom: red solid 2px;
}
.card_input_field {
  width: 100%;
  margin: 10px 16px 0px 16px;
}

.card_label {
  color: gray;
  width: auto;
  text-align: center;
  padding: 0 4px;
}

/* 
    to create a border line at the left and right of the label, and make them looks like
    the top border of the card input fields. By doing so, I can prevent the top border line
    of the input field from crossing over the label, and also I don't have to use the label
    to cover the border line (if the background color is "white", I could just use the
    label element to cover part of the border line) 
*/
.card_label_border_container {
  width: 100%;
  display: flex;
  position: relative;
  top: 13px;
  left: 12px;
}
.card_label_border_left {
  text-align: center;
  width: 10px;
  display: flex;
}
.card_label_border_left::before {
  content: "";
  flex: 1;
  align-self: center;
  border: 2px solid rgb(255, 0, 0);
  border-width: 2px 0px 0px;
  height: 0;
}
.card_label_border_right {
  text-align: center;
  width: min(calc(100% - 134px), calc(41.5rem - 134px));
  display: flex;
}
.card_label_border_right::before {
  content: "";
  flex: 1;
  align-self: center;
  border: 2px solid rgb(255, 0, 0);
  border-width: 2px 0px 0px;
  height: 0;
}
.card_label_border_right_2 {
  text-align: center;
  width: min(calc(100% - 115px), calc(41.5rem - 115px));
  display: flex;
}
.card_label_border_right_2::before {
  content: "";
  flex: 1;
  align-self: center;
  border: 2px solid rgb(255, 0, 0);
  border-width: 2px 0px 0px;
  height: 0;
}
.card_label_border_right_3 {
  text-align: center;
  width: min(calc(100% - 67px), calc(41.5rem - 67px));
  display: flex;
}
.card_label_border_right_3::before {
  content: "";
  flex: 1;
  align-self: center;
  border: 2px solid rgb(255, 0, 0);
  border-width: 2px 0px 0px;
  height: 0;
}

.exp_ccv_grid {
  width: 100%;
  max-width: 41.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.card_input_error {
  color: red;
  font-size: min(4vw, 1rem);
  margin-top: 5px;
  margin-left: 25px;
}

.hint_box {
  margin-top: 20px;
  border: 3px solid black;
  padding: 8px;
  font-size: 20px;
}
