.main_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.main_container_product_detail_small {
  margin-top: 26px;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.page_link {
  text-decoration: none;
  color: inherit;
}

.box {
  display: inline-block;
}

.grey {
  display: inline-block;
  color: rgb(128, 128, 128);
}

@media screen and (min-width: 765px) {
  .main_container {
    font-size: 24px;
  }
}
