.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main_grid {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: rgb(129, 129, 129) solid 2px;
}

.main_title {
  font-size: 30px;
  font-weight: bold;
}

.input_fields_container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.input_fields {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.update_button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
  font-size: 16px;
}
.update_error {
  color: red;
  font-size: 20px;
}
.text_indicator {
  font-size: 20px;
}

/* order history */
.order_container {
  width: 100%;
  box-shadow: 2px 4px 8px;
  border-radius: 1rem;
  margin: 10px;
}
.order_header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 32px;
  padding: 10px 20px;
  background-color: rgb(100, 189, 248);
  border-radius: 1rem 1rem 0 0;
}
.order_date {
  display: inline-block;
}
.order_total {
  margin-left: 14px;
}
.order_body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.item_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 20px;
}
.image_container {
  width: 200px;
  height: 230px;
  position: relative;
  border: 2px solid rgb(0, 138, 180);
}
.desc_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  font-size: 24px;
  margin-left: 10px;
}
.desc_title {
  font-weight: bold;
  margin-bottom: 10px;
}
.pagination_box {
  margin-top: 30px;
}

@media screen and (max-width: 765px) {
  .main_container {
    margin-bottom: 15px;
  }
  .main_title {
    font-size: 22px;
  }

  .update_button {
    width: min(200px, 70vw);
    font-size: min(16px, 4vw);
  }
  .update_error {
    font-size: min(16px, 5vw);
  }
  .text_indicator {
    font-size: min(16px, 5vw);
  }

  .order_header {
    font-size: min(24px, 6vw);
    flex-flow: row wrap;
  }
  .order_date {
    display: none;
  }
  .item_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .image_container {
    width: 100px;
    height: 115px;
  }
  .desc_container {
    font-size: min(18px, 5vw);
  }
}
