.main {
  margin-top: 50px;
}

.main_grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 74vw;
  max-width: 90rem;
  margin-bottom: 60px;
}

.inner_grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin_bottom {
  margin-bottom: 40px;
}

@media screen and (max-width: 765px) {
  .main_grid {
    width: 100vw;
  }
}
