.footer {
  width: 100%;
  border-top: 5px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
}

.footer_home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
