.root_page_layout {
  /* width: 100vw; */
  /* height: auto; */
  /* overflow-x: hidden; */
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(
    to right,
    rgba(34, 185, 255, 0.5) 0%,
    rgb(255, 255, 255) 15%,
    rgb(255, 255, 255) 85%,
    rgb(34, 185, 255, 0.5) 100%
  );
}

/* * * * * * * the layout for all the children pages * * * * * * */
.main_component {
  margin-top: 73px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main_component_grid {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 775px) {
  .main_component_grid {
    width: 95vw;
    max-width: 110rem;
  }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* .root_page_grid {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
} */

/* page_body is the overall width for the all pages' body */
/* specific width can be used inside individual page to override this layout*/
.root_page_body {
  /* margin-top: min(19vw, 19vh); */
  /* width: 100%; */
  /* height: calc(100vh - 70px); */
  /* position: relative; */

  /* overflow: hidden; */
  /* margin-left: min(3vw, 4rem);
  margin-right: min(3vw, 4rem); */
}
/* @media screen and (max-width: 775px) {
  .page_body {
    padding-top: min(6rem, 12vw);
    min-width: 90vw;
  }
}
@media screen and (min-width: 775px) and (max-width: 1050px) {
  .page_body {
    padding-top: min(8rem, 12vw);
    width: 90vw;
    max-width: 85rem;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1400px) {
  .page_body {
    padding-top: min(8rem, 12vw);
    width: 85vw;
    max-width: 75rem;
  }
}
@media screen and (min-width: 1400px) {
  .page_body {
    padding-top: min(9rem, 10vw);
    width: 80vw;
    max-width: 75rem;
  }
} */

.text_1 {
  font-size: min(12vw, 3.5rem);
}
.text_2 {
  font-size: min(10vw, 3.1rem);
}
.text_3 {
  font-size: min(8vw, 2.7rem);
}
.text_4 {
  font-size: min(6vw, 2.3rem);
}
.text_5 {
  font-size: min(5vw, 1.9rem);
}
.text_6 {
  font-size: min(4vw, 1.5rem);
}
.text_7 {
  font-size: min(3vw, 1.1rem);
}
