.page_layout {
  padding-bottom: 3.5rem;
  position: relative;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  /* background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255) 10%,
    rgba(75, 75, 75, 0.4) 15%,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255) 35%,
    rgba(114, 114, 114, 0.5) 50%,
    rgb(255, 255, 255) 65%,
    rgb(255, 255, 255) 80%,
    rgba(167, 167, 167, 0.4) 85%,
    rgb(255, 255, 255) 90%
  ); */
  background-image: linear-gradient(
    to right,
    rgba(34, 185, 255, 0.4) 0%,
    rgb(255, 255, 255) 22%,
    rgb(255, 255, 255) 78%,
    rgb(34, 185, 255, 0.4) 100%
  );
}

.page_body {
  padding-top: 2rem;
  font-size: min(6.5vw, 55px); /* for none MUI component text */
}
@media screen and (min-width: 775px) {
  .page_body {
    padding-top: min(5.5rem, 9vw);
  }
}
@media screen and (max-width: 774px) {
  .page_body {
    padding-top: min(6rem, 23vw);
  }
}

/* background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255) 32%,
    rgba(34, 185, 255, 0.534) 50%,
    rgb(255, 255, 255) 68%
  ); */
