.body {
  padding-bottom: 3.5rem;
}

.main_layout {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255) 32%,
    rgba(34, 185, 255, 0.534) 50%,
    rgb(255, 255, 255) 68%
  );
  padding: 0;
  padding-top: 4rem;
  position: "relative";
  min-height: "100vh";
  font-size: 1.2vw;
}
