.main_1 {
  font-family: "Oswald", sans-serif;
  /* letter-spacing: 0.06em; */
  font-size: 1.4rem;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 9;
  min-height: 2.8rem;
  min-width: 100%;

  background-color: white;
  transition: background-color 1s;
}
/* 
font-family: 'Black Ops One', cursive;
font-family: 'Monofett', cursive;
*/
.main_2 {
  font-family: "Oswald", sans-serif;
  /* letter-spacing: 0.06em; */
  font-size: 1.4rem;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 9;
  min-height: 2.8rem;
  min-width: 100%;
}
