.main_container {
  width: 80vw;
  max-width: 90rem;
  margin-top: 50px;
  margin-bottom: 40px;
}

.main_title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}
.sub_title {
  width: min(30rem, 80vw);
  font-size: 22px;
  margin-top: 16px;
}

.body {
  width: 100%;
}

.tags_title_container {
  width: 100%;
  border-bottom: 1px solid rgb(129, 129, 129);
  display: flex;
  flex-wrap: nowrap row;
  justify-content: center;
}

.tag {
  font-size: 30px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.tab_container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tab_content {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.left_grid {
  width: 50%;
  margin-right: 10px;
}
.right_grid {
  width: 50%;
  margin-left: 10px;
  min-height: 75vh;
}
.summary_grid {
  position: sticky;
  top: 200px;
  height: 70vh;
  width: 100%;
  padding: 0 10px;
  overflow: auto;
}
.summary_grid::-webkit-scrollbar {
  width: 4px !important;
}
.summary_grid::-webkit-scrollbar-thumb {
  background-color: #008ab4;
}

.main_container_no_item {
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.no_item_text {
  font-size: 30px;
}

.main_container_login_checkout {
  width: 80vw;
  max-width: 90rem;
  margin-bottom: 40px;
}
.main_grid_login_checkout {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 765px) and (max-width: 1000px) {
  .main_container {
    width: 95vw;
    margin-top: 30px;
  }
  .main_container_login_checkout {
    width: 95vw;
  }
}

@media screen and (max-width: 765px) {
  .main_container {
    width: 100vw;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .main_container_login_checkout {
    width: 100vw;
    margin-bottom: 0;
  }

  .tag {
    font-size: min(24px, 6.5vw);
    height: 30px;
  }

  .left_grid {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .right_grid {
    width: 98%;
    margin-left: 0px;
  }
  .summary_grid {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 0px;
    padding: 0;
    top: 10px;
  }

  .main_title {
    font-size: 35px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .sub_title {
    font-size: 16px;
    margin-top: 14px;
  }

  .tab_content {
    flex-flow: column nowrap;
    align-items: center;
  }
}
