.main_container {
  width: 80vw;
  max-width: 90rem;
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 20px;
}
.main_grid {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main_title {
  border: solid 6px rgb(0, 102, 161);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.sub_title {
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  padding-bottom: 20px;
  border-bottom: solid black 2px;
}

.items_body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.items_grid {
  display: flex;
  justify-content: center;
}

.to_top_button {
  width: 250px;
  transition: all 0.5;
}
.to_top_button:hover {
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.to_top_icon {
  margin: 0 10px 0 10px;
  transform: rotate(90deg);
}

@media screen and (max-width: 765px) {
  .main_container {
    width: 95vw;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .main_title {
    font-size: 26px;
    border-width: 4px;
    margin-bottom: 10px;
  }
  .sub_title {
    margin-top: 20px;
    font-size: 22px;
  }
}
