.main_container {
  width: 80vw;
  max-width: 90rem;
  margin-top: 50px;
}
.main_grid {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main_title {
  border: solid 6px rgb(0, 102, 161);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.sub_title {
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  padding-bottom: 20px;
  border-bottom: solid black 2px;
}

.items_body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.items_grid {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 765px) {
  .main_container {
    width: 95vw;
    margin-top: 30px;
  }

  .main_title {
    font-size: 26px;
    border-width: 4px;
    margin-bottom: 10px;
  }
  .sub_title {
    margin-top: 20px;
    font-size: 22px;
  }
}
