.main_grid {
  display: flex;
  width: 100%;
  margin-top: 20px;
  min-height: 100vh;
  flex-flow: column nowrap;
  align-items: center;
}
.main_title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border-bottom: rgb(0, 81, 148) solid 2px;
}

.body_grid {
  display: flex;
  margin-top: 40px;
  width: 100%;
  max-width: 78rem;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.sub_title {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}

.sub_cat_container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 100px;
}
.sub_cat_box {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.banner_box {
  width: 100%;
}

.banner_grid {
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.banner_box {
  width: min(550px, 40vw);
  height: min(550px, 40vw);
  box-shadow: 3px 6px 8px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75) 0%,
    rgb(255, 255, 255) 10%
  );
}
.banner_box:hover .banner_text {
  transition: 200ms;
  text-shadow: 6px 12px 5px black;
  color: rgb(122, 213, 255);
}
.banner_text {
  width: 100%;
  position: relative;
  bottom: max(80px, 15%);
  left: 10%;
  z-index: 9;
  font-size: min(40px, 3.5vw);
  color: aliceblue;
  text-shadow: 2px 4px 5px black;
  transition: 200ms;
  -webkit-text-stroke: 1px black;
}
.text_filler {
  margin-top: 20px;
  font-size: 22px;
}

.images_grid {
  width: 55%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.item_box {
  width: 50%;
}
.button_box {
  width: 70vw;
  max-width: 60rem;
}

.lower_grid {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.featuredCat_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.featuredCat_box {
  margin: 10px;
  width: 200px;
  height: 200px;
  box-shadow: 3px 5px 8px;
  cursor: pointer;
}
.featuredCat_box:hover .featuredCat_image {
  filter: brightness(1.2);
  transform: scale(1.05);
  transition: 200ms;
}
.featuredCat_box:hover .cat_text {
  transition: 200ms;
  text-shadow: 4px 8px 5px black;
  color: rgb(122, 213, 255);
}
.featuredCat_image {
  filter: brightness(0.8);
  transition: 200ms;
}
.cat_text {
  width: 100%;
  position: relative;
  bottom: 65%;
  text-align: center;
  z-index: 9;
  font-size: 32px;
  color: aliceblue;
  text-shadow: 2px 4px 5px black;
  transition: 200ms;
  -webkit-text-stroke: 1px black;
}

@media screen and (max-width: 765px) {
  .body_grid {
    margin-top: 20px;
  }
  .sub_cat_box {
    flex-flow: column nowrap;
    align-items: center;
  }
  .banner_grid {
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .images_grid {
    width: 100%;
  }

  .banner_box {
    width: min(550px, 55vw);
    height: min(550px, 55vw);
  }
  .text_filler {
    width: 40%;
  }
  .main_title {
    font-size: min(45px, 11vw);
  }
  .sub_title {
    margin-bottom: 0;
    font-size: min(30px, 8.5vw);
  }

  .sub_cat_container {
    margin-bottom: 60px;
  }
  .text_filler {
    margin-top: 00px;
    font-size: min(24px, 4.2vw);
  }

  .banner_text {
    bottom: max(36px, 20%);
    left: 5%;
    font-size: min(34px, 5vw);
    color: aliceblue;
  }

  .featuredCat_box {
    margin: 5px;
    width: min(200px, 30%);
    height: min(200px, 29.5vw);
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.75) 0%,
      rgb(255, 255, 255) 10%
    );
  }
  .cat_text {
    font-size: min(30px, 6.5vw);
  }
}
