.main_grid {
  margin-top: 20px;
  min-height: 100vh;
  flex-flow: row nowrap;
}

.items_grid {
  display: flex;
  justify-content: center;
}

.left_grid {
  min-height: 80vh;
}

.side_bar_container {
  position: sticky;
  top: 200px;
  height: 80vh;
  width: 100%;
  overflow: auto;
}

.right_grid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-left: 20px;
}

.right_grid_upper_container {
  height: auto;
}

.right_grid_lower_container {
  height: auto;
}

.sub_cat_title {
  font-size: 30px;
  font-weight: bolder;
}

.main_banner {
  margin: 15px 0 15px 0;
  box-shadow: 3px 6px 8px;
  background-color: rgba(0, 0, 0, 0.8);
}

.filter_tags {
  margin-left: 10px;
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.filter_tag_button {
  font-size: 16px;
}
.filter_tag_icon {
  margin-left: 5px;
  font-size: 22px;
}
.items_num {
  font-size: 28px;
  margin-right: 10px;
}

@media screen and (max-width: 765px) {
  .left_grid {
    display: none;
  }
  .right_grid {
    margin-left: 0;
  }
  .filter_tags {
    margin-top: 20px;
  }
  .filter_tag_button {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    font-size: 10px;
  }
  .filter_tag_icon {
    font-size: 14px;
  }
  .items_num {
    font-size: 18px;
    margin-right: 6px;
  }
}
