.main_container {
  width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* outerHeight: 800; */
  background-color: cornsilk;
  border: 2px solid #00789e;
  box-shadow: 3px 6px 6px #00789e;
}

@media screen and (max-width: 765px) {
  .main_container {
    width: 95vw;
  }
}

.stars_container {
  width: 160px;
  display: flex;
  justify-content: flex-start;
}

.stars {
  display: flex;
  justify-content: flex-start;
  width: 30px;
  font-size: 24px;
  border: solid red 2px;
}
.stars:hover {
  cursor: pointer;
  background-color: blue;
}
.stars_active {
  display: flex;
  justify-content: flex-start;
  width: 18px;
  font-size: 20px;
  background-color: blue;
  width: 30px;
  font-size: 24px;
  border: solid red 2px;
}
.stars_active:hover {
  cursor: pointer;
}
