.main_container {
  margin-top: 65px;
  max-width: 90rem;
}

.main_container_admin {
  margin-top: 18px;
  max-width: 90rem;
}

.main_grid {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.outer_grid_box {
  margin-bottom: 30px;
  width: 80vw;
}

.inner_grid {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inner_grid_box {
  width: 40vw;
  margin-bottom: 25px;
}

.title_box {
  width: 50vw;
  height: 80px;
  border-bottom: solid 2px #00789e;
  position: relative;
  text-align: center;
  margin-bottom: 70px;
  max-width: 50rem;
}
.sub_title_box {
  border-bottom: solid 2px #00789e;
  position: relative;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 30vw;
  max-width: 34rem;
}

.reviews_desc_box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 30px;
}

.rating_bars_container {
}

.reviews_nav_button {
  height: 30px;
  font-size: 20px;
}

.reviews_filter_button {
  font-weight: bold;
}
.reviews_clear_filter_icon {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.reviews_sub_link {
  color: inherit;
  text-decoration: none;
}

.no_review {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.write_button {
  font-size: 18px;
}

@media screen and (min-width: 765px) and (max-width: 1080px) {
  .inner_grid_box {
    width: 70vw;
  }
}
@media screen and (max-width: 765px) {
  .main_container {
    margin-top: 10px;
    width: 90vw;
  }
  .outer_grid_box {
    width: 90vw;
  }
  .inner_grid_box {
    width: 90vw;
  }
  .reviews_desc_box {
    font-size: min(28px, 6vw);
  }
  .no_review {
    font-size: 20px;
  }
  .write_button {
    font-size: 12px;
  }
}
