.slide_image {
  object-fit: cover;
  width: "100vw";
  height: "100%";
}

.swiper_custom_wrapper {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
}

/* vertical swiper and nav-bullets */

.swiper_vertical_home_page {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
}

.swiper_pagination_bullet {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 1rem;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  border: #fff solid 2px;
  margin-bottom: 26px;
  transition: all ease-in-out 0.2s;
  box-shadow: 1px 3px 5px black;
}
.swiper_pagination_bullet:hover {
  transform: scale(1.5) !important;
  background: #008ab3.5;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.swiper_pagination_bullet_active {
  transform: scale(1.5) !important;
  background: #fff;
  transition: all ease-in-out 0.2s;
}

/* horizontal slides and prev/next buttons */
.horizontal_slide_1 {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
  min-height: 55vw;
  object-fit: cover;
}
.horizontal_slide_2 {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
  min-height: 85vw;
  object-fit: cover;
}
.horizontal_nav_slide_num {
  display: flex;
  color: white;
  font-size: min(20px, 9vw);
  text-shadow: 2px 3px 3px black;
  margin-left: 5rem;
  margin-right: 5rem;
}
.horizontal_nav_button {
  display: flex;
}
.horizontal_navbar {
  display: flex;
  z-index: 99;
  bottom: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
}
.arrorw_left {
  color: white;
  font-size: 40px;
  font-family: "Trebuchet MS", sans-serif;
  text-shadow: -4px 1px 3px black;
  transition: all 0.4;
}
.arrorw_left:hover {
  animation: mover_left 700ms infinite alternate;
}
.arrorw_right {
  color: white;
  font-size: 40px;
  font-family: "Trebuchet MS", sans-serif;
  text-shadow: 4px 1px 3px black;
  transition: all 0.4;
}
.arrorw_right:hover {
  animation: mover_right 700ms infinite alternate;
}
@keyframes mover_left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-6px);
  }
}
@keyframes mover_right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(6px);
  }
}

.slide_text_box {
  width: 600px;
  position: fixed;
  bottom: 15vh;
  margin-left: calc(50vw - 300px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.slide_text {
  color: rgb(201, 232, 248);
  font-weight: bold;
  font-size: 34px;
  text-shadow: 3px 3px 8px black;
  transition: 200ms;
}
.text_button {
  width: 36%;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border: solid 1px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.9);
  transition: 200ms;
}

.slide_text_box:hover .text_button {
  background-color: rgba(34, 185, 255, 0.9);
  transition: 200ms;
}

@media screen and (max-width: 765px) {
  .horizontal_navbar {
    justify-content: space-around;
  }

  .slide_text_box {
    width: 90vw;
    position: fixed;
    margin-left: 5vw;
  }
  .slide_text {
    font-size: min(30px, 6.5vw);
  }
  .text_button {
    width: 30%;
    font-size: min(18px, 4.5vw);
    padding: 6px 18px;
  }
}
