.checkbox_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.color_ball {
  width: 20px;
  height: 20px;
  border-radius: 2rem;
  border: solid black 1px;
  margin-right: 10px;
}

.filter_key {
  font-size: 20px;
  font-weight: 400;
  margin-right: 5px;
}

.radio_control {
  margin-left: 0;
}

@media screen and (min-width: 500px) and (max-width: 765px) {
  .checkbox_container {
    width: 32vw;
  }
  .drawer_list_container {
    width: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .checkbox_container {
    width: 45vw;
  }
  .drawer_list_container {
    width: 100vw;
  }
}

@media screen and (max-width: 765px) {
  .drawer_list_container {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 355px) {
  .checkbox_container {
    width: 80vw;
  }
}
