.filter_main_drawer_container {
  min-width: 100vw;
  font-family: "Oswald", sans-serif;
}

.main_container {
  flex-flow: column nowrap;
  width: 100%;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 450px) {
  .filter_main_drawer_container {
    min-width: 70vw;
  }
}

.header {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.item_num {
  font-size: 22px;
  margin-bottom: 10px;
}

.buttons_container {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.buttons {
  margin: 20px 20px 0 20px;
  font-size: min(12px, 3vw);
  min-width: 100px;
}

.circular_progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close_icon {
  float: right;
  margin-top: 0.6rem;
  margin-right: 0.6rem;
  transition: ease-in 0.3s;
}
.close_icon:hover {
  color: rgb(0, 138, 180);
  cursor: pointer;
  transition: ease-in 0.3s;
}

@media screen and (max-width: 765px) {
  .header {
    text-align: center;
    border-bottom: solid 2px #00789e;
  }
  .circular_progress {
    left: 45%;
  }

  .item_num {
    text-align: center;
  }
}
