.cart_icon {
  width: 45px;
  height: 45px;
  color: black;
  /* max-width: 51px;
  max-height: 51px; */
  cursor: pointer;
  /* border-radius: 2rem; */
  transition: 0.3s ease-in-out;
}
.cart_icon:hover {
  color: rgb(0, 138, 180);
  transition: 0.3s ease-in-out;
}

.cart_icon_number {
  font-size: 16px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 1.5rem;
  border: solid 1px white;
  width: 25px;
  height: 25px;
  /* max-width: 31px;
  max-height: 31px; */
  text-align: center;
}

@media screen and (max-width: 775px) {
  .cart_icon {
    width: 38px;
    height: 38px;
  }
  .cart_icon_number {
    font-size: 11px;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 18px;
    height: 18px;
  }
}

.cart_summary_menu {
  width: 25rem;
  border-radius: 0;
  border: 2px solid black;
  max-height: 80vh;
  overflow-y: auto;
  background-image: linear-gradient(
    to left,
    rgba(34, 185, 255, 0.5) 0%,
    rgb(255, 255, 255) 25%
  );
  z-index: 10;
  overflow: "visible";
  padding: 20px;
}

/* the "position: absolute" has to be inside the Collapse tab in order to 
use the "Collapse" effect for the container */

/* "Collapse" does NOT fucking work inside a react-child-component, it must be used
as a wrapper to wrap the component which is needed to be "collapsed"*/
.cart_collapse_box {
  /* border-radius: 0; */
  max-height: 80vh;
  top: 4rem;
  position: absolute;
  box-shadow: 3px 6px 8px;
  z-index: 10;
  right: 1rem;
}
