.cart_icon {
  width: 7.7vw;
  height: 7.7vw;
  color: black;
  max-width: 51px;
  max-height: 51px;
  cursor: pointer;
  /* border-radius: 2rem; */
  transition: 0.3s ease-in-out;
}
.cart_icon:hover {
  color: rgb(0, 138, 180);
  transition: 0.3s ease-in-out;
}

.cart_icon_number {
  font-size: min(2.9vw, 20px);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 1.5rem;
  border: solid 0.5px white;
  width: 4.6vw;
  height: 4.6vw;
  max-width: 31px;
  max-height: 31px;
  text-align: center;
}

.cart_summary_menu {
  min-width: 20rem;
  /* border-radius: 0; */
  border: 2px solid black;
  max-height: 80vh;
  overflow-y: auto;
  background-image: linear-gradient(
    to bottom left,
    rgb(255, 255, 255) 30%,
    rgba(34, 185, 255, 0.45) 50%,
    rgb(255, 255, 255) 70%
  );
}

/* the "position: absolute" has to be inside the Collapse tab in order to 
use the "Collapse" effect for the container */

/* "Collapse" does NOT fucking work inside a react-child-component, it must be used
as a wrapper to wrap the component which is needed to be "collapsed"*/
.cart_collapse_box {
  /* border-radius: 0; */
  max-height: 80vh;
  position: absolute;
  box-shadow: 7px 7px 20px 0px rgb(0, 138, 180);
  right: 1rem;
}
