.menu_list {
  text-decoration: none;
  color: inherit;
  transition: ease-in 0.1s;
}

.menu_list:hover {
  text-decoration: none;
  color: inherit;
  color: rgb(0, 138, 180);
  border-bottom: #008ab4 solid 3px;
  transition: ease-in 0.1s;
}

.menu_list_items {
  width: min(45rem, 75vw);
  border-radius: 6px;
  border: 2px solid black;
  background-color: white;
  padding: 1rem 1rem;
  background-image: linear-gradient(
    to bottom left,
    rgb(255, 255, 255) 30%,
    rgba(34, 185, 255, 0.45) 50%,
    rgb(255, 255, 255) 70%
  );
}

.menu_list_items_column {
  padding: 0 2.5rem 0 2.5rem;
}

.menu_list_items_column_head {
  color: rgb(78, 78, 78);
  font-size: 20px;
}

.menu_list_single_item {
  text-decoration: none;
  color: inherit;
  margin-left: 1.2rem;
}

.menu_list_single_item:hover {
  text-decoration: none;
  color: inherit;
  border-bottom: solid 2px rgb(0, 138, 180);
}

.menu_icon {
  /* width: 7.7vw;
  height: 7.7vw; */
  width: 38px;
  height: 38px;
  color: black;
  /* max-width: 59px;
  max-height: 59px; */
  border-radius: 2rem;
  transition: ease-in 0.3s;
}
.menu_icon:hover {
  color: rgb(0, 138, 180);
  cursor: pointer;
  transition: ease-in 0.3s;
}

.menu_list_collapse_box {
  border-radius: 6px;
  position: absolute;
  box-shadow: 7px 7px 20px 0px rgb(0, 138, 180);
  top: 4rem;
  left: 15vw;
  z-index: 10;
}

.menu_drawer_box {
  min-width: 100vw;
}
@media screen and (min-width: 450px) {
  .menu_drawer_box {
    min-width: 70vw;
  }
}

.menu_drawer_items_column_head {
  color: rgb(97, 97, 97);
  font-style: italic;
  font-family: sans-serif;
  font-size: 20px;
  padding-left: 2rem;
}

.menu_drawer_items {
  padding-left: 5rem;
}

.close_icon {
  float: right;
  margin-top: 0.6rem;
  margin-right: 0.6rem;
  transition: ease-in 0.3s;
}
.close_icon:hover {
  color: rgb(0, 138, 180);
  cursor: pointer;
  transition: ease-in 0.3s;
}
