.main_1 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  position: fixed;
  /* while using sticky position, you must specify the Y-axis where the
  element should stick to */
  top: 0;
  left: 0;
  z-index: 50;
  /* min-height: 2.8rem; */
  min-height: 73px;
  min-width: 100%;
  background-color: white;
  transition: 0.6s;
}
/* 
font-family: 'Black Ops One', cursive;
font-family: 'Monofett', cursive;
*/
.main_2 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  /* min-height: 2.8rem; */
  height: 73px;
  min-width: 100%;
  transition: 0.6s;
  overflow: hidden;
}

.nav_logo {
  padding-left: 5px;
  cursor: pointer;
}

.filter_container_1 {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
}
.filter_container_2 {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
}

.admin_right_nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.sign_out_button {
  margin-left: 20px;
}

@media screen and (max-width: 765px) {
  .filter_container_1 {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: 1.8s;
  }
  .filter_container_2 {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.6;
  }

  .admin_right_nav {
    font-size: min(18px, 4.5vw);
    margin-right: 5px;
  }
  .sign_out_button {
    margin: 0 6px;
    font-size: min(12px, 3.5vw);
    padding: 2px 4px;
  }
}
