.main_1 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  position: fixed;
  /* while using sticky position, you must specify the Y-axis where the
  element should stick to */
  top: 0;
  left: 0;
  z-index: 50;
  /* min-height: 2.8rem; */
  min-height: 73px;
  min-width: 100%;
  background-color: white;
  transition: 0.6s;
}
/* 
font-family: 'Black Ops One', cursive;
font-family: 'Monofett', cursive;
*/
.main_2 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  /* min-height: 2.8rem; */
  height: 73px;
  min-width: 100%;
  transition: 0.6s;
  overflow: hidden;
}

.nav_logo {
  padding-left: 5px;
  cursor: pointer;
}

.filter_container_1 {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
}
.filter_container_2 {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
}

.filter_icon_box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 26px 0 26px;
}
.filter_icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 4px 0 4px;
}
.filter_text {
  font-size: 13px;
}

.single_icon_active {
  color: black;
}
.single_icon {
  color: rgb(168, 168, 168);
}
.split_icon_active {
  color: black;
  transform: rotate(90deg);
}
.split_icon {
  transform: rotate(90deg);
  color: gray;
}

@media screen and (max-width: 765px) {
  .filter_container_1 {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: 1.8s;
  }
  .filter_container_2 {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.6;
  }
}
