.main_container {
  margin-top: 20px;
}

.main_grid {
  display: flex;
  justify-content: center;
}
.upper_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* align-items: center; */
}
.lower_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 16px;
}

.product_images_container {
  margin-right: 2rem;
}

.product_desc_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
}

.product_desc_line_items {
  width: 100%;
  /* display: flex; */
  padding: 15px 1vw 15px 1vw;
}

.product_desc_line_items_inner_grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.product_desc_title {
  font-size: 35px;
  font-weight: bold;
}

.product_desc_price {
  padding-left: 20px;
  font-size: 35px;
}

.product_desc_size {
  border-bottom: solid 2px #00789e;
}
.product_desc_cart {
  width: min(28vw, 420px);
  height: 50px;
  font-size: 22px;
}

.product_desc_divider {
  width: 100%;
  height: 10px;
  border-bottom: solid 2px #00789e;
  margin-bottom: 10px;
}

.product_desc_error {
  color: #f44336;
}

.product_desc_detail_box {
  width: 75vw;
}
.product_desc_detail {
  font-size: 14px;
  font-family: sans-serif;
  margin-left: 10px;
  font-weight: lighter;
}

.product_desc_detail_collapse_box {
  margin: 10px 5px 10px 5px;
  width: 90vw;
}

@media screen and (max-width: 1080px) {
  .lower_grid {
    margin-top: 6px;
  }
}

@media screen and (max-width: 765px) {
  .upper_grid {
    flex-wrap: wrap;
  }
  .product_images_container {
    margin-right: 0;
  }
  .product_desc_container {
    margin: 15px 0 15px 0;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
  }
  .product_desc_cart {
    width: 100%;
    height: 40px;
    font-size: min(20px, 6vw);
    padding: 2px 4px;
  }
  .product_desc_detail_box {
    width: 85vw;
    margin: 10px 10px 15px 10px;
  }
  .product_desc_line_items {
    width: 90vw;
  }
  .product_desc_divider {
    width: 90%;
  }
}
