.main_grid {
  display: flex;
  width: 100%;
}

.left_grid {
  width: 75%;
}
.left_grid_checkout {
  width: 100%;
}
.right_grid {
  width: 25%;
  display: flex;
}
.right_grid_checkout {
  width: 100%;
  display: flex;
}

.item_container {
  margin: 0 60px 30px 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: solid 2px rgb(0, 138, 180);
  padding: 15px;
}

.image_text_container {
  font-size: 22px;
  display: flex;
}
.item_title {
  font-size: 28px;
  font-weight: bolder;
}

/* the next/image has in-line styles that will override most of
the layouts. I have to use "!important" to apply the layout in the
<Image /> and use the properties "width" and "height" in the component to
handle the width and height */
.imgae_container {
  border: 2px solid black !important;
}

.text_container {
  margin-left: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  /* align-items: center; */
}

.qty_subtotal_grid {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.qty_remove_grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: baseline;
}
.qty_box {
  display: flex;
  margin-bottom: 14px;
}
.remove_box {
  margin-left: 16px;
  display: flex;
}
.remove_button {
  padding: 2px;
  font-size: 10px;
}

.subtotal {
  text-align: right;
  font-size: 22px;
  font-weight: bold;
}

.summary_container_cart {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 200px;
  height: 300px;
  border-bottom: solid 2px rgb(0, 138, 180);
}
.summary_container_checkout {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 180px;
  margin-bottom: 26px;
  margin-top: 20px;
  border-bottom: solid 2px rgb(0, 138, 180);
}

.summary_title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  width: 100%;
  border-bottom: solid 2px rgb(0, 138, 180);
}
.summary_body_cart {
  width: 100%;
  margin-top: 40px;
  height: 180px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.summary_body_checkout {
  width: 100%;
  margin-top: 16px;
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.items_total {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 26px;
}
.order_total {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 26px;
  font-weight: bold;
}
.checkout_button {
  width: 100%;
  font-size: 20px;
}

.no_item_text {
  width: 90%;
  text-align: center;
  font-size: 30px;
}

/*********************************/

/* styles for the dropDown cart  */

/*********************************/
.left_grid_drop_down {
  width: 100%;
}
.item_container_drop_down {
  margin: 0 0 30px 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: solid 2px rgb(0, 138, 180);
  padding-bottom: 20px;
}

.image_text_container_drop_down {
  font-size: 16px;
  display: flex;
}
.item_title_drop_down {
  font-size: 16px;
  font-weight: bolder;
}

.text_container_drop_down {
  margin-left: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.subtotal_drop_down {
  text-align: right;
  font-size: 17px;
  font-weight: bold;
}

.summary_drop_down {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.buttons_group_drop_down {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: solid 2px rgb(0, 138, 180);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.button_drop_down {
  width: 45%;
  font-size: 16px;
}
.close_bag {
  font-size: 16px;
  font-weight: lighter;
  text-decoration: underline;
  cursor: pointer;
}

/******************************************/

/* styles for the order checkout summary  */

/******************************************/

.item_container_checkout {
  margin: 0 0 30px 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: solid 2px rgb(0, 138, 180);
  padding-bottom: 20px;
}
.qty_subtotal_grid_checkout {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 930px) {
  .main_grid {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .left_grid {
    width: 100%;
    display: flex;
  }
  .right_grid {
    width: 100%;
    display: flex;
  }
  .item_container {
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 600px) {
  .item_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
  }
  .item_container_checkout {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .image_text_container {
    width: 100%;
    font-size: min(18px, 4vw);
    display: flex;
  }
  .item_title {
    font-size: min(24px, 5vw);
    font-weight: bolder;
  }

  .text_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    /* align-items: center; */
    margin-right: 16px;
  }
  .summary_body_cart {
    width: 80%;
  }
  .summary_body_checkout {
    width: 80%;
  }

  .qty_subtotal_grid {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .qty_subtotal_grid_checkout {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
  }

  .qty_remove_grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: baseline;
  }
  .qty_box {
    display: flex;
    margin-bottom: 14px;
  }
  .remove_box {
    margin-left: 16px;
    display: flex;
  }
  .remove_button {
    padding: 2px;
    font-size: 10px;
  }

  .subtotal {
    text-align: right;
    font-size: 22px;
    font-weight: bold;
  }

  .items_total {
    font-size: min(26px, 8vw);
  }
  .order_total {
    font-size: min(26px, 8vw);
  }
  .checkout_button {
    font-size: min(20px, 6vw);
  }
}

@media screen and (min-width: 765px) and (max-width: 1150px) {
  .item_container_checkout {
    padding-bottom: 5px;
  }
  .qty_subtotal_grid_checkout {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
  }
}
