.form_container {
  width: 100%;
}

.form_control {
  width: 100%;
  max-width: 40rem;
  margin: 10px 0px;
}
.form_control_half {
  width: 100%;
  max-width: 17.5rem;
  margin: 10px 0px;
}

.input_box_shadow {
  box-shadow: 2px 2px 5px black;
}
.input_box_select_size {
  height: 80px;
  box-shadow: 2px 2px 5px black;
}

@media screen and (max-width: 765px) {
  .form_container {
    width: 100%;
  }
  .form_control {
    max-width: 50rem;
    margin: 6px 0px;
  }
}

@media screen and (min-width: 560px) and (max-width: 765px) {
  .form_control_half {
    max-width: 22rem;
    margin: 6px 0px;
  }
}
@media screen and (max-width: 560px) {
  .form_control_half {
    max-width: 40rem;
    margin: 6px 0px;
  }
}
