.main_container {
  width: 70vw;
  max-width: 90rem;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_grid {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: rgb(129, 129, 129) solid 2px;
}

.forgot_pw_main_grid {
  width: auto;
}

.title_grid {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: rgb(0, 138, 180) 4px solid;
}
.main_title {
  font-size: 50px;
  font-weight: bold;
}
.sub_title {
  width: min(40rem, 80vw);
  font-size: 22px;
  margin-top: 16px;
}

.body_grid {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.body_grid_left {
  margin: 10px 5px 10px 5px;
  border-right: solid rgb(129, 129, 129) 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body_grid_left_inner {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
}

.body_grid_right {
  margin: 10px 5px 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.body_grid_right_inner {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.button_group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.forget_pw {
  color: black;
  text-decoration: underline;
  font-size: 20px;
  transition: 0.2s;
  cursor: pointer;
}
.forget_pw:hover {
  color: rgb(0, 138, 180);
  transition: 0.2s;
}

.to_sign_up_text {
  font-size: 22px;
  margin: 10px 0 10px 0;
}

.reset_pw_container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.reset_text {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
}
.to_sign_in {
  margin-top: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 765px) and (max-width: 1000px) {
  .main_container {
    width: 85vw;
    margin-top: 30px;
  }
  .main_grid {
    width: 85vw;
  }
}

@media screen and (max-width: 765px) {
  .main_container {
    width: 95vw;
    margin-top: 30px;
  }
  .main_grid {
    width: 100%;
  }
  .forgot_pw_main_grid {
    width: 100%;
  }

  .body_grid {
    flex-wrap: wrap;
  }

  .title_grid {
    padding-bottom: 20px;
  }
  .main_title {
    font-size: 35px;
  }
  .sub_title {
    font-size: 16px;
  }

  .body_grid_left {
    padding-bottom: 30px;
    width: 100%;
    border-right: 0;
    border-bottom: solid rgb(129, 129, 129) 2px;
  }
  .body_grid_left_inner {
    width: 100%;
  }

  .button_group {
    margin-top: 20px;
  }
  .forget_pw {
    font-size: min(16px, 3.5vw);
  }

  .body_grid_right {
    width: 100%;
    margin: 0;
  }
  .body_grid_right_inner {
    width: 96%;
  }

  .to_sign_in {
    margin-top: 20px;
  }
}

.modal_main_container {
  font-family: "Oswald", sans-serif;
}
.modal_grid {
  width: 100%;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}
.modal_grid_upper {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: solid rgb(129, 129, 129) 2px;
}
.modal_grid_lower {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
