.main_container {
  width: 70vw;
  max-width: 90rem;
  margin-top: 50px;
  margin-bottom: 40px;
}

.main_grid {
  width: 100%;
}

.input_fields_grid {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.title_grid {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: rgb(0, 138, 180) 4px solid;
}
.main_title {
  font-size: 50px;
  font-weight: bold;
}
.sub_title {
  width: min(30rem, 80vw);
  font-size: 22px;
  margin-top: 16px;
}

.sign_in_box {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}

.input_title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

@media screen and (min-width: 765px) and (max-width: 1000px) {
  .main_container {
    width: 85vw;
    margin-top: 30px;
  }
  .main_grid {
    width: 85vw;
  }
}

@media screen and (max-width: 765px) {
  .main_container {
    width: 95vw;
    margin-top: 30px;
  }
  .main_grid {
    width: 100%;
  }
  .input_fields_container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .input_fields_grid {
    width: 90vw;
  }
  .title_grid {
    padding-bottom: 20px;
  }
  .main_title {
    font-size: 35px;
  }
  .sub_title {
    font-size: 16px;
    margin-top: 14px;
  }
  .sign_in_box {
    margin-left: 10px;
  }

  .input_title {
    width: 100%;
    text-align: center;
  }
}
